.container {
  padding: 8px;
  font-size: 12px;
  text-align: left;

  .top {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    .left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .name {
        width: 62vw;
        margin-left: 5px;
        text-align: justify;
      }
    }
  }

  .bottom {
    width: 100%;
    margin-top: 10px;
    .store-name {
      width: 53vw;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }
  }
}
