.container {
  margin-bottom: 18px;
  .product {
    padding: 5px;
    border-bottom: 1px solid var(--sky-bg-color);
    .cover {
      width: 100%;
      border-radius: 5px;
    }

    .content {
      padding: 0 10px;
      .name {
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .desc {
        margin-top: 5px;
        font-size: 12px;
        color: #999;

        .text {
          display: inline-block;
          width: calc(100% - 50px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .sell-number {
          float: right;
          text-align: right;
        }
      }
    }

    .price {
      font-size: 18px;
      font-weight: bold;
      color: var(--sky-warning-color);
      text-align: right;
    }
    .old-price {
      margin-top: 2px;
      font-size: 12px;
      color: #ccc;
      text-align: right;
      text-decoration: line-through;
    }
  }
}
