.container {
  .logo {
    width: 18px;
    margin-top: 3px;
    border-radius: 50%;
  }

  .time {
    margin-left: 8px;
  }

  .store-name {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #4a4949;
  }
  .teacher {
    margin-left: 4px;
    line-height: 40px;
  }
}
