.container {
  padding: 10px;
  margin-bottom: 5px;
  line-height: 25px;
  color: #666;
  background-color: #fff;

  .card-name {
    font-size: 15px;
    font-weight: bold;
    color: #111;
  }
  .desc {
    margin-bottom: 5px;
    line-height: 20px;
    text-align: justify;
  }

  .title {
    margin-top: 10px;
    font-size: 14px;
    color: var(--adm-color-primary);
  }
}

.bottom {
  height: 68px;
}
