.safe-area {
  background: linear-gradient(
    90deg,
    rgba(3, 207, 177, 1) 0%,
    rgba(2, 173, 177, 1) 100%
  );
}
.container {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(
    90deg,
    rgba(3, 207, 177, 1) 0%,
    rgba(2, 173, 177, 1) 100%
  );

  .back {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 18px;
    color: #fff;
  }

  .title {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
}
