.container {
  margin-top: 10px;

  .card {
    box-sizing: border-box;
    width: 80%;
    padding: 20px;
    margin-left: 10%;
    background-color: #fff;
    border-radius: 10px;

    .avatar {
      width: 58px;
      height: 58px;
      border: solid 5px var(--sky-bg-color);
      border-radius: 50%;
    }
    .name {
      margin: 18px 0 0 0;
      font-size: 16px;
      font-weight: bold;
    }
    .to-edit {
      margin-top: 10px;
      color: var(--adm-color-primary);
    }
  }

  .list {
    margin-top: 50px;
  }

  .logout {
    position: fixed;
    bottom: 88px;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #c8c8c8;
    text-align: center;
    text-decoration: none;
  }
}
